# Custom
*.swp
*.swo
*~
pytmc/tests/tmc_files/*.db
pytmc/tests/tmc_files/invalid/*.db
./*.db
pytmc/_version.py

.DS_store
*.pyc
.vscode
docs/build/*
.coverage
*.cover
.cache
*.egg
*.egg-info/
htmlcov
